<option value="any">Show All</option>
<option value="41">Acting (Drama/Theater)</option>
<option value="78">Aerobics</option>
<option value="42">Astronomy</option>
<option value="43">Auto Mechanics</option>
<option value="1">Badminton</option>
<option value="2">Baseball - playing</option>
<option value="3">Baseball - watching</option>
<option value="4">Basketball - playing</option>
<option value="5">Basketball - watching</option>
<option value="6">Bicycling</option>
<option value="7">Bowling</option>
<option value="8">Boxing</option>
<option value="46">Camping</option>
<option value="47">Ceramics/Pottery</option>
<option value="10">Chearleading</option>
<option value="48">Chess</option>
<option value="49">Computers</option>
<option value="50">Concerts</option>
<option value="51">Cooking</option>
<option value="52">Crafts</option>
<option value="11">Cricket</option>
<option value="53">Current Events/Politics</option>
<option value="44">Dance - Ballet</option>
<option value="45">Dance - Ballroom</option>
<option value="61">Dance - Modern/Jazz</option>
<option value="12">Field Hockey - playing</option>
<option value="13">Field Hockey - watching</option>
<option value="54">Fishing</option>
<option value="14">Football (Soccer) - playing</option>
<option value="15">Football (Soccer) - watching</option>
<option value="55">Gardening</option>
<option value="16">Golf</option>
<option value="17">Gymnastics</option>
<option value="18">Handball</option>
<option value="19">Hiking</option>
<option value="20">Hockey</option>
<option value="21">Horseback Riding</option>
<option value="56">Hunting</option>
<option value="22">Ice-Skating</option>
<option value="57">Interior Design</option>
<option value="58">Knitting/Sewing</option>
<option value="23">Lacrosse</option>
<option value="59">Listening to Classical Music</option>
<option value="60">Listening to Pop Music</option>
<option value="24">Martial Arts</option>
<option value="62">Movies</option>
<option value="63">Museums</option>
<option value="77">Other</option>
<option value="25">Paddle Tennis</option>
<option value="64">Painting/Drawing</option>
<option value="65">Photography</option>
<option value="66">Playing Cards</option>
<option value="67">Playing Musical Instrument(s)</option>
<option value="68">Reading</option>
<option value="69">Religious Activity</option>
<option value="26">Rock Climbing</option>
<option value="27">Roller Skating/Roller Blading</option>
<option value="28">Running/Jogging</option>
<option value="9">Sailing</option>
<option value="70">Scuba Diving</option>
<option value="71">Singing (in choir)</option>
<option value="29">Skateboarding</option>
<option value="30">Skiing</option>
<option value="31">Snowboarding</option>
<option value="72">Stamp Collecting</option>
<option value="32">Swimming</option>
<option value="33">Table Tennis</option>
<option value="73">Television</option>
<option value="34">Tennis</option>
<option value="35">Track and Field</option>
<option value="74">Travel</option>
<option value="36">US Football - playing</option>
<option value="37">US Football - watching</option>
<option value="75">Video Games</option>
<option value="38">Volleyball</option>
<option value="39">Weightlifting</option>
<option value="40">Wrestling</option>
<option value="76">Writing</option>