<div
          id="filterDropdown"
          class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow"
        >
          <!-- <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
              Category
            </h6> -->
          <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
            <li class="flex items-center">
              <input
                id="all"
                type="checkbox"
                value="all"
                name="grant"
                class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="all" class="ml-2 text-sm font-medium text-gray-900">
                Show all grant students
              </label>
            </li>
            <li class="flex items-center">
              <input
                id="CBE"
                type="checkbox"
                value="CBE"
                name="grant"
                class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="CBE" class="ml-2 text-sm font-medium text-gray-900">
                CBE
              </label>
            </li>
            <li class="flex items-center">
              <input
                id="CBX"
                type="checkbox"
                value="CBX"
                name="grant"
                class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="CBX" class="ml-2 text-sm font-medium text-gray-900">
                CBX
              </label>
            </li>
            <li class="flex items-center">
              <input
                id="FAO"
                type="checkbox"
                value="FAO"
                name="grant"
                class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="FAO" class="ml-2 text-sm font-medium text-gray-900">
                FAO
              </label>
            </li>
            <li class="flex items-center">
              <input
                id="FLX"
                type="checkbox"
                value="FLX"
                name="grant"
                class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="FLX" class="ml-2 text-sm font-medium text-gray-900">
                FLX
              </label>
            </li>
            <li class="flex items-center">
              <input
                id="YES"
                type="checkbox"
                value="YES"
                name="grant"
                class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label for="YES" class="ml-2 text-sm font-medium text-gray-900">
                YES
              </label>
            </li>
          </ul>
        </div>