<div id="target" class="max-w-3xl mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
    {% for student in students %}
    <div class="mb-6 p-4 bg-white border border-gray-300 rounded-lg shadow-sm">
        <h1 class="text-lg font-semibold text-gray-800">Student ID: {{ student.usahsId }}</h1>
        <h2 class="text-xl font-bold text-gray-900 mt-2">
            {{ student.namefirst }}, {{ student.adjusted_age }} years old 
            {% if student.genderdescription == 'Male' %} boy {% else %} girl {% endif %} 
            from {{ student.residenceCountry }} for a {{ student.program_type.replace('High School USA 2024 August ', '') }}
        </h2>

        <ul class="mt-4 text-gray-700">
            <li class="py-2"><strong>School Year:</strong> {{ student.gradeApplyingTo }}th Grade</li>
            <li class="py-2"><strong>GPA:</strong> {{ student.schoolInfoGPA }}</li>
        </ul>

        <div class="mt-4 border-t border-gray-300 pt-4">
            <h3 class="text-lg font-bold text-gray-800">Interests</h3>
            <ul class="list-disc list-inside text-gray-700">
                {% for interest in student.interests.selectables %}
                    <li class="text-gray-600 text-sm md:text-base">{{ interest }}</li>
                {% endfor %}
            </ul>
            
            <h4 class="text-base font-semibold text-gray-800 mt-2">Instruments</h4>
            <p class="text-gray-600 text-sm md:text-base">{{ student.interests.instrument }}</p>
            
            <h4 class="text-base font-semibold text-gray-800 mt-2">Favorite Subject(s)</h4>
            <p class="text-gray-600 text-sm md:text-base">{{ student.interests.favorite_subject }}</p>
        </div>

        <div class="mt-4 border-t border-gray-300 pt-4">
            <h3 class="text-lg font-bold text-gray-800">Additional Interest Comments</h3>
            {% for free_text in student.interests.free_text %}
                <p class="mt-1 text-gray-600 text-sm md:text-base">"{{ free_text }}"</p>
            {% endfor %}
        </div>

        <div class="mt-4 border-t border-gray-300 pt-4">
            <h3 class="text-lg font-bold text-gray-800">Volunteer/Work Experiences</h3>
            <p class="text-gray-600 text-sm md:text-base">- {{ student.interests.work }}</p>
            
            <h3 class="text-lg font-bold text-gray-800 mt-4">Allergies</h3>
            <p class="text-gray-600 text-sm md:text-base">- {% if student.environmentAllergies %} Yes {% else %} None {% endif %} {{ student.allergies_comment }}</p>
            
            <h3 class="text-lg font-bold text-gray-800 mt-4">Dietary Comments</h3>
            <p class="text-gray-600 text-sm md:text-base">- {% if student.dietSpecial %} Yes {% else %} None {% endif %} {{ student.diet_comment }}</p>

            <h3 class="text-lg font-bold text-gray-800 mt-4">Living with Pets</h3>
            <p class="text-gray-600 text-sm md:text-base">- {% if student.can_live_w_pets %} Yes {% else %} No {% endif %} {{ student.pet_comment }}</p>

            <h3 class="text-lg font-bold text-gray-800 mt-4">Languages</h3>
            <ul class="list-disc list-inside text-gray-700">
                {% for language in student.interests.languages %}
                    <li>"{{ language }}"</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4 border-t border-gray-300 pt-4">
            <h3 class="text-lg font-bold text-gray-800">Introduction</h3>
            <p class="text-gray-600 text-sm md:text-base">"{{ student.messages[0] }}"</p>
            
            <h3 class="text-lg font-bold text-gray-800 mt-4">Letter to Family</h3>
            <p class="text-gray-600 text-sm md:text-base">"{{ student.messages[1] }}"</p>

            <h3 class="text-lg font-bold text-gray-800 mt-4">Parent Message</h3>
            <p class="text-gray-600 text-sm md:text-base">"{{ student.messages[2] }}"</p>
        </div>
    </div>
    {% endfor %}
</div>
