{% for student in students %}
<tr class="hover:bg-gray-100 transition duration-200">
    <td class="border px-4 py-2">
        <a href="{{ ['/student_snippet?myVal=', student.usahsId] | join('') }}" target="_blank" class="text-gray-700 hover:underline">{{ student.namefirst }}</a>
    </td>
    <td class="border px-4 py-2">
        <a href="{{ ['https://beacon.ciee.org/participant/', student.applicationid] | join('') }}" target="_blank" class="text-gray-700 hover:underline">{{ student.usahsId }}</a>
    </td>
    <td class="border px-4 py-2">{{ student.urban }}</td>
    <td class="border px-4 py-2">{{ student.normalized_test_score }}</td>
    <td class="border px-4 py-2">{{ student.gradeApplyingTo }}</td>
    <td class="border px-4 py-2">{{ student.adjusted_age }}</td>
    <td class="border px-4 py-2">{{ student.residenceCountry }}</td>
    <td class="border px-4 py-2">{{ student.program_type.replace('High School USA ', '').replace(' Exchange', '') }}</td>
    <td class="border px-4 py-2">
        <span title="{{ student.interests.free_text|join('\n') }}">{{ student.interests.selectables|join(", ") }}</span>
    </td>
    <td class="border px-4 py-2">{{ student.schoolInfoGPA }}</td>
</tr>
{% endfor %}